<div class="w-100 w-80-m w-70-l center mt4 tiledbg">
  <div class="pa0 pa2-ns pa4-m pa5-l">
    <div class="center bg-white pa2 pa3-l">
      <div class="w-100 bb b--silver mb3 cf">
        <h1 class="helvetica fw4 navy mb0 pr2 bb b--navy fl">Edit <%= resource_name.to_s.humanize %></h1>
      </div>

      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <%= f.text_field :username %>
        <%= f.email_field :email, autofocus: true %>
        <%= f.text_field :description %>
        <%= f.text_field :colortheme %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <% if current_user.provider.blank? %>
          <%= f.password_field :password, autocomplete: "off", label: 'Password (leave blank if you don\'t want to change it) + (' + @minimum_password_length.to_s + ' characters minimum)' %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <%= f.password_field :current_password, autocomplete: "off", label: "Password (we need your current password to confirm your changes)" %>
        <% end %>

        <%= f.submit "Update" %>
      <% end %>

      <div class="w-100 bb b--silver mt4 mb3 cf">
        <h1 class="helvetica fw4 navy mb0 pr2 bb b--navy fl">Close account</h1>
      </div>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>
</div>
