<div class="w-100 w-80-m w-70-l center mt4 tiledbg">
  <div class="pa0 pa2-ns pa4-m pa5-l">
    <div class="center bg-white pa2 pa3-l">

    <div class="w-100 bb b--silver mb3 cf">
      <h1 class="helvetica fw4 navy mb0 pr2 bb b--navy fl">New Post</h1>
    </div>

    <%= bootstrap_form_for @post do |f| %>
      <%= f.text_field :title %>
      <%= f.text_field :description %>
      <%= f.text_area :fulltext, class: 'w-100' %>

      <%= f.submit %>
    <% end %>
    </div>
  </div>
</div>
