<% colortheme = @post.user.get_colortheme %>

<article>
  <!-- Post header -->
  <header class="bg-<%= colortheme[:primary] %> sans-serif">
    <div class="mw9 center pa4 pt5-ns ph7-l">
      <time class="f6 mb2 dib ttu tracked">
        <small>
          <%= @post.created_at %>
          <% if @post.user == current_user %>
           |  <%= link_to edit_post_path(@post), class: 'link black hover-' + colortheme[:lighter] do %>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
              <% end %>
           |  <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link black hover-' + colortheme[:lighter] do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
              <% end %>
          <% end %>
        </small>
      </time>
      <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="bg-black-90 lh-copy white pa1 tracked-tight">
          <%= @post.title %>
        </span>
      </h3>
      <h4 class="f3 fw1 georgia i"><%= @post.description %></h4>
      <h5 class="f6 ttu tracked black-80">By <%= link_to @post.user.username, user_profile_path(@post.user.username), class: 'link black-80' %></h5>
    </div>
  </header>

  <!-- Post body -->
  <div class="pa4 ph7-l georgia mw9-l center">
    <%= markdown(@post.fulltext) %>
  </div>
</article>

<% if @post.comments.length > 0 %>
  <!-- Comments -->
  <div class="pa4 ph7-l georgia mw9-l center">
    <h1 class="helvetica fw4 mb2 pr2 bb <%= colortheme[:accent] %> b--<%= colortheme[:accent] %>">Comments</h1>

    <% @post.comments.each do |comment| %>
      <%= render partial: "shared/comment", locals: { comment: comment } %>
    <% end %>

  </div>
<% end %>

<% if current_user %>
  <%= form_for [@post, Comment.new] do |f| %>
    <%= f.text_area :body, placeholder: "Add a comment" %>
    <%= f.submit "Add comment" %>
  <% end %>
<% end %>
