<!DOCTYPE html>
<html>
  <head>
    <title>Smol</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="flex justify-between bg-white fixed w-100 ph3 ph4-m ph5-l">
      <%= link_to image_tag("smol-logo-yellow.png"), root_path, {class: "flex items-center link dim dib"} %>

      <nav class="flex flex-grow items-center f6 fw6 tracked">
        <a class="link dim dark-gray dib mr3" href="#" title="About">About</a>
        <% if user_signed_in? %>
          <%= link_to current_user.username, user_profile_path(current_user), :class => 'link dim dark-gray dib mr3' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'link dim dark-gray dib'  %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, :class => 'link dim dark-gray dib mr3'  %>
          <%= link_to "Login", new_user_session_path, :class => 'link dim dark-gray dib'  %>
        <% end %>
      </nav>
    </header>

    <div id='content' class='pt5'>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
