<% if controller_name == "posts" && action_name == "show" %>
  <% theme = User.find_by_username(params[:username]).colortheme %>
<% elsif controller_name == "users" && action_name =="show" %>
  <% theme = User.find_by_username(params[:username]).colortheme %>
<% else %>
  <% theme = "blue" %>
<% end %>

<% logo = "smol-logo-" + theme + ".png" %>

<!DOCTYPE html>
<html>
  <head>
    <title>Smol</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700" rel="stylesheet">
  </head>

  <body>
    <header class="flex justify-between bg-white-90 fixed w-100 ph3 ph4-m ph5-l shadow-6">
      <%= link_to image_tag(logo), root_path, {class: "flex items-center link dim dib"} %>

      <nav class="flex flex-grow items-center f6 fw6 tracked">
        <% if user_signed_in? %>
          <%= link_to 'New Post', new_post_path, :class => "link dim dib mr3 blue hover-light-blue" %>
          <%= link_to current_user.username, user_profile_path(current_user), :class => 'link dim dark-gray dib mr3 blue hover-light-blue' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'link dim dark-gray dib blue hover-light-blue'  %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, :class => 'link dim dib mr3 blue hover-light-blue'  %>
          <%= link_to "Login", new_user_session_path, :class => 'link dim dib blue hover-light-blue'  %>
        <% end %>
      </nav>
    </header>

    <div id='content' class='pt5'>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
